@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lato:wght@100;400&family=Montserrat&family=Poppins:ital,wght@0,200;1,400&family=Quintessential&family=Work+Sans:wght@200;400&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  
}
body{
  background-color: rgb(56, 56, 55);
}

.country-flags{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

h1{
  color: white;
  font-size: 3.5rem;
}
 
.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 13px;
  margin: 6px;
  border-radius: 25px;
  border: 1px solid #309614;
  color: #309614;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: hsl(107, 49%, 58%);
}

.paginationActive a {
  color: white;
  background-color: hsl(107, 49%, 58%);
}

.paginationDisabled a {
  color: white;
  background-color: lightgrey;
}

@media screen and (max-width: 1100px){
  .country-flags{
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
}
@media screen and (max-width: 850px){
  .country-flags{
    display: grid;
    grid-template-columns: auto auto;
  }
  
}
@media screen and (max-width: 650px){
  .country-flags{
    display: grid;
    grid-template-columns: auto;
  }
  
}