*{
  box-sizing: border-box;
}
body{
  background-color: rgb(242, 242, 234);
}
.home-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 13px;
  margin: 6px;
  border-radius: 25px;
  border: 1px solid #309614;
  color: #309614;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: hsl(107, 49%, 58%);
}

.paginationActive a {
  color: white;
  background-color: hsl(107, 49%, 58%);
}

.paginationDisabled a {
  color: white;
  background-color: lightgrey;
}
